*{
    margin: 0;
    padding: 0;
}
body{
box-sizing: border-box;
background-color: gainsboro;
font-family: Arial, Helvetica, sans-serif;
}
h1{
text-align: center;
padding: 20px;
margin: 0 0 50px;
background-color: white;
}
.guess-game{
    text-align: center;
    width: 980px;
    margin: 20px auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    .control{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
        margin: 30px auto;
        gap: 10px;
        .check{
            border: none;
            font-size: 25px;
            padding: 15px 20px;
            border-radius: 6px;
            background-color: orange;
            color: white;
            cursor: pointer;
            font-weight: bold;
            flex: 1;
        }
        .hint{
            border: none;
            font-size: 25px;
            padding: 15px 20px;
            border-radius: 6px;
            background-color: aquamarine;
            color: white;
            cursor: pointer;
            font-weight: bold;
            width: fit-content;
        }
        button:disabled {
            background-color: black;
            opacity: 0.4;
            cursor: no-drop;
        }
    }
.game-area{
    .inputs{
        > div{
            margin-bottom: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            span{
                font-size: 30px;
                margin-right: 15px;
                font-weight: bold;
            }
        }
        .disabled-inputs{
            opacity: 0.5;
            pointer-events: none;
        }
        input{
            margin: 0 5px;
            width: 20px;
            height: 20px;
            text-align: center;
            font-size: 40px;
            caret-color: orange;
            border: none;
            background-color: white;
            border-bottom: solid lightslategray 5px;
            &:focus{
                outline-color: lightslategray;
            }
            &.yesplace{
                background-color: green;
                border: green;
                color: white;
            }
            &.notplace{
                background-color: yellow;
                border: yellow;
                color: white;
            }
            &.wrongplace{
                background-color: red;
                border: red;
                color: white;
            }
        }
    }
}
.message{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    span{
        font-weight: bold;
        display: block;
        font-size: 50px;
        color: orangered;
        text-transform: capitalize;
        margin-top: 10px;
    }
    p{
        margin-top: 15px;
    }
}
}
.key-colors{
    .key-color{
        display: flex;
        align-items: center;
        padding: 15px;
        background-color: white;
        margin-bottom: 10px;
        margin-left: 100px;
        .key-text{
            font-size: 20px;
            font-weight: bold;
        }
    }
    .key{
        height: 15px;
        width: 15px;
        border-radius: 50%;
        margin-right: 10px;
    }
}
footer{
    display: block;
    position: fixed;
    left: 0;
    bottom: 0;
    text-align: center;
    padding: 20px;
    width: 100%;
    background-color: #333;
    color: white;
}
