@media (min-width: 300px) and (max-width: 355px){
    .game-area{
        .inputs{
            input{
                width: 20px;
                height: 30px;
                font-size: 15px;
            }
            .col-12{
            span{
                font-size: 12px;
            }
        }
        }
}
.guess-game{
    .control{
        .check{
            font-size: 20px;
            padding: 15px 10px;
        width: 250px;
        }
        .hint{
            padding: 5px 5px;
            }
    }
}

}
@media (min-width: 355px) and (max-width: 700px){
    .game-area{
        .inputs{
            input{
                width: 30px;
                height: 30px;
                font-size: 18px;
            }
            .col-12{
            span{
                font-size: 15px;
            }
        }
        }
}
.guess-game{
    .control{
        .check{
            font-size: 20px;
            padding: 15px 10px;
        width: 250px;
        }
        .hint{
            padding: 15px 5px;
            }
    }
}

}

@media (min-width: 701px){
    .game-area{
        .inputs{
            input{
                width: 40px;
                height: 40px;
                font-size: 25px;
            }
            .col-12{
            span{
                font-size: 30px;
            }
        }
        }
    }
    .guess-game{
        .control{
            width: 500px;
            .check{
            font-size: 25px;
            padding: 15px 20px;
            flex: 1;
            }
            .hint{
            padding: 15px 20px;
            }
        }
    }
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    position: relative;
    height: 110vh;
background-color: gainsboro;
font-family: Arial, Helvetica, sans-serif;
overflow-x: hidden;
overflow-y: scroll;
}
h1{
text-align: center;
padding: 20px;
margin: 0 0 50px;
background-color: white;
}
.guess-game{
    text-align: center;
    height: 100vh;
    width: 100vw;
    margin: 20px auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    .control{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 30px auto;
        gap: 10px;
        .check{
            border: none;
            border-radius: 6px;
            background-color: orange;
            color: white;
            cursor: pointer;
            font-weight: bold;
        }
        .hint{
            border: none;
            font-size: 25px;
            border-radius: 6px;
            background-color: aquamarine;
            color: white;
            cursor: pointer;
            font-weight: bold;
            width: fit-content;
        }
        button:disabled {
            background-color: black;
            opacity: 0.4;
            cursor: no-drop;
        }
    }
.game-area{
    .inputs{
        > div{
            margin-bottom: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            span{
                margin-right: 15px;
                font-weight: bold;
            }
        }
        .disabled-inputs{
            opacity: 0.5;
            pointer-events: none;
        }
        input{
            margin: 0 5px;
            text-align: center;
            caret-color: orange;
            border: none;
            background-color: white;
            border-bottom: solid lightslategray 5px;
            &:focus{
                outline-color: lightslategray;
            }
            &.yesplace{
                background-color: green;
                border: green;
                color: white;
            }
            &.notplace{
                background-color: yellow;
                border: yellow;
                color: white;
            }
            &.wrongplace{
                background-color: red;
                border: red;
                color: white;
            }
        }
    }
}
.message{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    span{
        font-weight: bold;
        display: block;
        font-size: 50px;
        color: orangered;
        text-transform: capitalize;
        margin-top: 10px;
    }
    p{
        margin-top: 15px;
    }
}
}
.key-colors{
    .key-color{
        display: flex;
        align-items: center;
        padding: 15px;
        background-color: white;
        margin-bottom: 10px;
        .key-text{
            font-size: 20px;
            font-weight: bold;
        }
    }
    .key{
        height: 30px;
        width: 30px;
        border-radius: 50%;
        margin-right: 10px;
    }
}
footer{
    display: block;
    text-align: center;
    padding: 20px;
    width: 100%;
    background-color: #333;
    color: white;
}
